#c{
    width:auto;
    height: auto;
}

#header{
    background-color: #2e499f;
    color: white;
    width:auto;
    height: auto;
    margin-top: 5%;
}
.del{
    /*width: 20px;
    height: 20px;*/
     background-color: red;
    /*background-image: url(images/cestino.gif);
    background-position: top left;
    background-repeat: repeat;*/
}
.mod{
    /*width: 20px;
    height: 20px;*/
    background-color: yellow;
    /*background-image: url(images/pencil.gif);
    background-position: top left;
    background-repeat: repeat;*/
}
#b{
    background-color: white;
}

#0{
    width: auto;
    /*height: 2%;*/
    margin-top: 4%;
}